/* ==========MODAL========= */
.modal {
  /* display: flex; */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1.25rem;
  border: 1px solid #dcd9d9;
  width: 50%;
  border-radius: var(--borderRadius);
}
.close-btn {
  display: flex;
  justify-self: end;
  color: #333;
  font-size: 1.8rem;
  font-weight: bold;
}
.close-btn:hover,
.close-btn:focus {
  color: #131842;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 0.625rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: var(--borderRadius);
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 1rem;
}

.btn-back {
  background-color: #2c2e2c;
}
